.skeleton-shimmer {
    background: #f1f5f9;
    background-image: linear-gradient(
        to right,
        #f1f5f9 0%,
        #e2e8f0 20%,
        #f1f5f9 40%,
        #f1f5f9 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 100%;
    display: inline-block;
    position: relative;
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
